<%- include("header") %>
    <link rel="stylesheet" href="/css/home.css">
    <section id='home' >
        <h2 id='mheading'>SimuBit</h2>
        <h3 id='sbheading'>Your Friendly Mock Crypto Trading Platform</h3>
    </section>


    <section id='about' >
            <h2 class='heading'>About Us</h2>
            <p>
                SimuBit is a mock cryptocurrency trading platform developed to 
                provide beginners a palce to learn about crypto trading free of cost and without any risk 
                of real money involved.

            </p>
    </section>
    <section id='features'>
    <h2  class='heading'>Features</h2>
    
    <div id='cards'>
    <div class='card'>
        <img src="/images/Exchange_perspective_matte.png" class='left' alt="">
        <p class='content'>Real time trading</p>
    </div>

    <div  class='card'>
        <img src="/images/Dashboard_perspective_matte.png" class='left' alt="">
        <p class='content'>Personalised Dashboard</p>
    </div>
    <div  class='card'>
        <img src="/images/Chart_perspective_matte.png" class='left' alt="">
        <p class='content'>Real time market analysis</p>
    </div>
    <div  class='card'>
        <img src="/images/Wallet_perspective_matte.png" class='left' alt="">
        <p class='content'>Get trial/play $1000</p>
    </div>
</div>
</section>

<section id="support">
    <h2  class='heading'>Supported Currencies</h2>
    <p>
        These are some of the cryptocurrencies supported by our platform
    </p>
    <div class="suplist">
        <img src="/images/Bitcoin_perspective_matte.png" width="150px" height="150px" alt="">
        <img src="/images/Binance_coin_perspective_matte.png" width="150px" height="150px" alt="">
        <img src="/images/Dogecoin_perspective_matte.png" width="150px" height="150px" alt="">
        <img src="/images/Ethereum_perspective_matte.png" width="150px" height="150px" alt="">
        <img src="/images/Litecoin_perspective_matte.png" width="150px" height="150px" alt="">
    </div>

  
    <p style="text-align: center;"><a href="/list">View All</a></p>   
</section>


</body>
</html>