*{
    color:white;
}

body{
    background-color:rgb(23,23,26);
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  